body {
	text-align: center;
}
.header {
   margin: 0 auto;
    background-color: #dfdfdf;
    width: 1020px;
    height:120px;
    }

.header h1 {
   padding: 2% 0;
   margin-left: 8%;
   font-size: 1.4em;
   float: left;
}

ul {
    width: 60%;
    float: right;
    background: #9db;
    color: #444;
}
ul li {
    padding: 5% 2%;
   display: inline-block;
}







